.about__mainblock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15vh 5vw 0vh 5vw;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5vw;
}

.about__maintitle {
  font-size: 5vh;
  margin-bottom: 5vh;
}

.debout {
  width: 20vw;
}

.download {
  position: relative;
  top: -4vh;
  left: 13vw;
  width: 9vw;
  height: 6vh;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: var(--yellow);
  cursor: pointer;
  box-shadow: 5px 5px 0 0;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link__download {
  position: absolute;
  text-decoration: none;
  color: #000;
  z-index: 1000;
  font-family: var(--light-font-family);
}

.download::after {
  content: "";
  top: 0;
  left: 0;
  width: 170px;
  height: 70px;
  transition: 0.3s;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.download:hover {
  box-shadow: -5px -5px 0 0;
  transform: scale(0.9);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.download:hover::after {
  opacity: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parcours {
  width: 30vw;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

.timeline ul {
  list-style-type: none;
  border-left: 2px solid black;
  padding: 0.8vh 0.25vw;
}
.timeline ul li {
  padding: 1.3vh 1vw;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
.timeline ul li h2 {
  display: inline-block;
  background-color: var(--yellow);
  border-radius: 25px;
  padding: 0.7vh 0.5vw;
  font-size: 1rem;
  font-family: var(--title-font-family);
  text-align: center;
}
.timeline ul li .container h3 {
  font-size: 1rem;
  font-family: var(--text-font-family);
  padding-top: 1vh;
}
.timeline ul li .container p {
  padding: 1vh 0 1vh 0;
  font-size: 1rem;
  font-family: var(--light-font-family);
  font-style: italic;
}
.timeline ul li:before {
  position: absolute;
  content: "";
  width: 0.5vw;
  height: 1vh;
  background-color: black;
  border-radius: 50%;
  left: -0.6vw;
  top: 2.2vh;
  transition: 0.5s;
}

.timeline ul li:hover:before {
  background-color: white;
  box-shadow: 0px 0px 10px 2px black;
}

.introduction{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
}

.description {
  font-family: var(--text-font-family);
}

.mon__parcours{
  margin-top: 2vh;
  text-align: center;
}

.about__me{
  position: relative;
  display: flex;
  flex-direction: row;
}

.guillemets1{
  position: absolute;
  width: 1.8vw;
  height: auto;
}

.guillemets2{
  position: absolute;
  bottom: -2vh;
  right: 2vw;
  width: 2vw;
  height: auto;
}

