.about__mainblock{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15vh 5vw 0 5vw;;

}

.about__maintitle {
    font-size: 6vh;
    margin-bottom: 5vh;
}

.debout {
    width: 27vw;
}

.description {
    width: 35vw;
}

.description p {
    margin-bottom : 4vh;
}