.general__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  height: 83vh;
}

.presentation__block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}

.presentation__block h1 {
  font-size: 9vh;
  margin: 1.2vh 0;
  z-index: 10;
}

.presentation__block h2 {
  font-size: 5vh;
  font-family: var(--extralight-font-family);
  text-align: center;
  margin: 1.5vh 0;
  z-index: 10;
}

.home__images {
  position: relative;
  width: 90vw;
  display: row;
  top: -44vh;
}

.chargeur {
  width: 18vw;
  left: 9vw;
  top: 5.9vh;
  position: absolute;
  -moz-box-shadow: 10px 10px 50px #ccc;
  -webkit-box-shadow: 10px 10px 50px #ccc;
  box-shadow: 10px 10px 50px #ccc;
}

.chat {
  width: 30vw;
  position: absolute;
  top: 44vh;
  left: 25vw;
  z-index: 2;
  -moz-box-shadow: 10px 10px 50px #ccc;
  -webkit-box-shadow: 10px 10px 50px #ccc;
  box-shadow: 10px 10px 50px #ccc;
}
.clavier {
  width: 21vw;
  position: absolute;
  top: 18vh;
  left: 53vw;
  -moz-box-shadow: 10px 10px 50px #ccc;
  -webkit-box-shadow: 10px 10px 50px #ccc;
  box-shadow: 10px 10px 50px #ccc;
}

.main__button {
  font-family: var(--extralight-font-family);
  margin: 2vh 0 3vh 0;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.main__button:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.main__button:hover:after {
  top: 0px;
  left: 0px;
}

.assis {
  width: 30vw;
}

@media (min-width: 768px) {
  .main__button {
    padding: 13px 50px 13px;
  }
}
