input,
select,
textarea {
  color: #5a5a5a;
  font: inherit;
  margin: 0;
}

.contact__page {
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.github__logo,
.linkedin__logo {
  height: 4vh;
  margin: 1vh 0.5vw;
}

#contact__container {
  font-family: var(--light-font-family);
  border: solid 3px #474544;
  width: 34vw;
  position: relative;
}

textarea {
  overflow: auto;
}

#contact_form {
  padding: 1vh 2vw;
  margin: 2vh 0;
}

.first__title {
  font-family: var(--title-font-family);
  margin-top: 5vh;
  color: #474544;
  font-size: 1.8rem;
  letter-spacing: 0.5vw;
  text-align: center;
  text-transform: uppercase;
}

.text__underline {
  border-bottom: solid 2px #474544;
  margin: 3vh auto;
  width: 10vw;
}

.form__email {
  float: right;
  width: 45%;
}

input[type="text"],
[type="email"],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
}

.form__name {
  float: left;
  width: 45%;
}

select {
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png")
    no-repeat right;
  outline: none;
  --moz-appearance: none;
  --webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.form__telephone {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 15vh;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #474544;
}

:-moz-placeholder {
  color: #474544;
  opacity: 1;
}

::-moz-placeholder {
  color: #474544;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #474544;
}

.form_button {
  font-family: var(--light-font-family);
  margin: 2vh 0 2vh 0;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.form_button:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.form_button:hover:after {
  top: 0px;
  left: 0px;
}

.button_div {
  display: flex;
  justify-content: center;
}
