.navbar {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
  padding: 4vh 0;
}

.links {
  display: flex;
  align-items: center;
}

.navbar li {
  margin-right: 5vw;
  font-family: var(--light-font-family);
}

.navbar li a:hover {
  color: grey;
}

.myName {
  font-size: 4vh;
  margin-left: 3vw;
}

.active {
  border-bottom: solid 4px #ffe54c;
   color: grey;
}
