.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin : 5vh 0;
}

.logo_git {
  width: 3.5vw;
  margin-top: 3vh;
}

.footer h2 {
  font-family: var(--light-font-family)
}
