.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin : 5vh 0;
}

.logo_git {
  width: 1vw;
  margin-left: 0.3vw;
}

.footer h2 {
  font-family: var(--light-font-family)
}
